POSTGRES_DB=payments
POSTGRES_USER=dataeng
POSTGRES_PASSWORD=changeme

CATALOG_DB=catalog
CATALOG_USER=catalog
CATALOG_PASSWORD=changeme

AIRFLOW_DB=airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=changeme
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=changeme

MINIO_ROOT_USER=payments
MINIO_ROOT_PASSWORD=changeme

AIRFLOW_UID=50000
