POSTGRES_DB=payments
POSTGRES_USER=dataeng
POSTGRES_PASSWORD=changeme

METASTORE_DB=metastore
METASTORE_USER=hive
METASTORE_PASSWORD=changeme

AIRFLOW_DB=airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=changeme
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=changeme

AIRFLOW_UID=50000
